@charset "utf-8";



  
body { 
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  background-image: url(../img/loewe6.jpg) ;  
  background-size: cover;
  background-position: center;
  width: 100%;
  }

p {
  text-align: justify;
  color: rgba(255,255,255,1.00);
  font-weight: lighter;
  font-size: 120%;
  text-shadow: 0px 0px 1px rgba(0,0,0,1.00);  
  letter-spacing:0.1rem;
  }

h2 {
  color: rgba(255,255,255,1.00);
  text-shadow: 0px 0px 3px rgba(54,0,33,1.00);

  }
  
h3 {
  color: rgba(255,255,255,1.00);
  text-shadow: 0px 0px 3px rgba(54,0,33,1.00);
  font-size:200%;
  letter-spacing:0.1rem;
  }
  
h4 {
  color: rgba(255,255,255,1.00);
  text-shadow: 0px 0px 3px rgba(54,0,33,1.00);
  font-size:120%;
  letter-spacing:0.2rem;
  }

      
.start {
  width:100%;
    height:100%;
    background-color: rgba(6, 3, 3, 0.79);
  margin-bottom:30px;

  }




.start1 {
  width:100%;
    height:100%;
    background-color: rgba(6, 3, 3, 0.79);
  margin-top:100px;
  margin-bottom:30px;
  padding-top:15px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color:rgba(55,0,79,1.00);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:rgba(82,33,87,1.00);
  }
  
.start2 {
  width:100%;
    height:100%;
    background-color: rgba(6, 3, 3, 0.79);
  margin-top:30px;
  margin-bottom:30px;
  padding-top:15px;
  padding-left:10px;
  padding-bottom:1px;
  border-radius: 5px;
  text-align:left;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color:rgba(55,0,79,1.00);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:rgba(82,33,87,1.00);
  }
  
.start2 h2 {
  text-align: left;
  }

  
  



/* ANIMATION BACKGROUND PICTURE*/

.picture {

    color: rgba(20,0,106,0.31);

    -webkit-animation: bgColor 60s ease-in-out infinite;

    /* Chrome, Safari */

    -moz-animation: bgColor 60s ease-in-out infinite;

    /* Firefox */

    -o-animation: bgColor 60s ease-in-out infinite;

    /* Opera */

    animation: bgColor 60s ease-in-out infinite;

    min-height: 100vh;
}

@-webkit-keyframes bgColor {
    0% {
        background:rgba(20,0,106,0.31);
    }
    50% {
        background:rgba(255,0,158,0.10);
    }
    100% {
        background:rgba(20,0,106,0.31);
    }
}

/* Firefox */

@-moz-keyframes bgColor {
    0% {
        background:rgba(20,0,106,0.31);
    }
    50% {
        background:rgba(255,0,158,0.10);
    }
    100% {
        background:rgba(20,0,106,0.31);
    }
}

/* Opera */

@-o-keyframes bgColor {
    0% {
        background:rgba(20,0,106,0.31);
    }
    50% {
        background:rgba(255,0,158,0.10);
    }
    100% {
        background:rgba(20,0,106,0.31);
    }
}

/* Standard syntax */

@keyframes bgColor {
    0% {
        background:rgba(20,0,106,0.31);
    }
    50% {
        background:rgba(255,0,158,0.10);
    }
    100% {
        background:rgba(20,0,106,0.31);
    }
}




/**
Header Bereich
*/


.header-navbar { 
    position: right;
    text-align: right;
  margin-top:50px;
  margin-bottom:30px;
  margin-right: 20%;
  color: rgba(255,255,255,1.00);
  text-shadow: 0px 0px 1px rgba(255,255,255,1.00);
  text-shadow: 0px 0px 2px rgba(54,0,33,1.00);
  }
  
.header-navbar-links li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  margin-left: 40px;
  font-size:150%; 
  margin-bottom:-10%;
  }
  
.Titel {
  padding-top: 50px;
  text-align: left;
  }
  
.Titel h1 {
  color:rgba(255,255,255,1.00);
  font-size: 500%;
  text-shadow: 0px 0px 1px rgba(255,255,255,1.00);
  text-shadow: 0px 0px 3px rgba(54,0,33,1.00);
  }
  
.header {
  margin-bottom: 50px;
  }
  
.subtitel {
  text-align: right;
  color: rgba(255,0,158,1.00);
  font-size: 150%;
  margin-top: -3%;  
  text-shadow: 0px 0px 1px rgba(54,0,33,1.00);
  }

.subtitel h5 {
  letter-spacing: 0.5rem;
    word-spacing: 0.0rem;
  }
  

/**About*/
.about {
  margin-top: -90px;
  margin-bottom: 50px;
  }
.Annika {
  width: 450px;
  height: auto;
  }
    
  
  /*GALERIE */

.sliderElements,
.sliderElements figure,
.sliderControls {
    margin: 0;
}
 
.sliderElements:after {
    content: ".";
    display: block;
    height: .1px;
    clear: both;
    visibility: hidden;
    font-size: 0;
    overflow: hidden;
}
 
.cssSlider {
    overflow-x: hidden;
}
 
.sliderElements {
    list-style: none;
    position: relative;
    left: 0;
    width: 800%;
    margin-bottom: .8em;
    padding: 0;
    -webkit-transition: left .8s ease-in-out;
    -moz-transition: left .8s ease-in-out;
    -o-transition: left .8s ease-in-out;
    transition: left .8s ease-in-out;

}
 
.sliderElements > li {
    float: left;
    width: 12.5%;
    position: relative;
}
 
#slide02:checked ~ .sliderElements {
    left: -100%;
}
 
#slide03:checked ~ .sliderElements {
    left: -200%;
}
 
#slide04:checked ~ .sliderElements {
    left: -300%;
}
 
#slide05:checked ~ .sliderElements {
    left: -400%;
}

#slide06:checked ~ .sliderElements {
    left: -500%;
}

#slide07:checked ~ .sliderElements {
    left: -600%;
}

#slide08:checked ~ .sliderElements {
    left: -700%;
}

/* Bildunterschrift auf dem Bild positionieren */
.sliderElements figcaption {
    display: block;
    color: #fff;
    position: absolute;
    left: 10px;
    bottom: 1em;
    padding: .4em;
    background: rgba(0,0,0,0.00);
  border-radius:2px;
}
 
/* Bilder responsive */
.sliderElements img {
    width: 100%;
    height: auto;
  opacity:0.98;
  border-radius:10px;
}
 
 
/* inputs aus dem Blickfeld schieben */
.cssSlider input {
    position: absolute;
    left: -99999px;
}
 
/* mittige Ausrichtung der Controls - funktioniert im Zusammenspiel mit inline-block */
.sliderControls {
    text-align: center;
}
 
/* Controls nebeneinander bringen */
.sliderControls li {
    display: inline-block;
}
 
/* Controls auf einheitliche Maße bringen und die Ecken abrunden */
.sliderControls label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    background: rgba(55,0,79,0.70);
    color: rgba(55,0,79,0.00);
  
}
 
/* Attributselektor und indirekter Nachfahrkombinator zum ansteuern der labels */
.sliderControls label:hover,
#slide01:checked ~ .sliderControls label[for="slide01"],
#slide02:checked ~ .sliderControls label[for="slide02"],
#slide03:checked ~ .sliderControls label[for="slide03"],
#slide04:checked ~ .sliderControls label[for="slide04"],
#slide05:checked ~ .sliderControls label[for="slide05"],
#slide06:checked ~ .sliderControls label[for="slide06"],
#slide07:checked ~ .sliderControls label[for="slide07"]
#slide08:checked ~ .sliderControls label[for="slide08"]
 {
    background:rgba(255,0,158,0.70);
    color:rgba(255,0,158,0.00);
}





/** Veranstaltungsbereich */


.videos {
  text-align:right;
  }

iframe {
  border-radius:10px;
  }
.video3 {
  }

.video4 {
  float:right;
  }
  
img { 
  width: auto; 
  height: 606px;
  border-radius:10px;
  }

.concerts {
  margin-bottom:10%;
  }
  
.concerts h2 {
  color:rgba(255,255,255,1.00);
  text-shadow: 0px 0px 3px rgba(54,0,33,1.00);
  font-size:400%;
  }
  

/* Konfiguriert, wie schnell die toggles auf und zu klappen */
.toggle .content {
 transition: 0.4s height ease-in-out;
}

.toggle input {
  display: none;
}
 
/* Gestaltung der toggle Schaltflächen */
.toggle label {
    display: block;
    background: rgba(6, 3, 3, 0.79);
    color: #fff;
    padding-top: 13px;
  padding-bottom: 1px;
  padding-left:10px;
    text-align: left;
    cursor: pointer;
  border-radius:5px;
  transition: 2s;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color:rgba(246,160,255,1.00);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:rgba(110,0,159,1.00);
}

.toggle input:not(:checked) ~ div {
    opacity: 1;
    padding: .8em;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition:
      opacity 2s ease-in-out,
      padding 2s ease-in-out,
      height 0.4s ease-in-out;
}

.toggle label:hover {
    background: rgba(252,175,255,0.60);
}



/* grid and placement */
.dual-grid {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.dual-grid > .left {
  grid-column: 1 / 2;
}

.dual-grid > .right {
  grid-column: 2 / 3;
}

.dual-grid > .full {
  grid-column: 1 / 3;
}

.dual-grid .tall {
  grid-row: span 2;
}

.dual-grid .video {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/img/loading-spinner.gif);
  background-position: center;
  background-repeat: no-repeat;
}
.dual-grid .video > iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.dual-grid img {
  width: 100%;
  height: auto;
}

@media (max-width: 850px) {
  .dual-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .dual-grid > .left {
    grid-column: 1 / 2;
  }

  .dual-grid > .right {
    grid-column: 1 / 2;
  }

  .dual-grid > .full {
    grid-column: 1 / 2;
  }

  .dual-grid .tall {
    grid-row: span 2;
  }

  .dual-grid .video {
    padding-top: 66%;
    height: 0;
  }  
}

.lightbox {
  cursor: pointer;
}

.lightbox-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s opacity;
  opacity: 0;
}

.lightbox-image {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  border: 10px solid white;
}

body.noscroll {
  overflow: hidden;
  max-height: 100%;
}

/**
LINKS & KONTAKT
*/
i {
  color:white;
  font-size:150%;
  float:right;
  padding-bottom:0px;
  margin-left:10px;
  
  }
  
i:link {
  color:rgba(255,255,255,1.00);
    transition: 1s;
  }
  
i:visited {
  color:rgba(255,255,255,1.00);
    transition: 1s;
  }
  
i:active {
  color:rgba(255,255,255,1.00);
    transition: 1s;
  }
  
i:hover {
  color:rgba(252,175,255,1.00);
  font-size: 152%;
    transition: 1s;
  }
  
a.extern { 
  text-decoration: none;
  text-underline: none;
  background-color:rgba(0,0,0,0.60);
    border-radius:2px;
  padding-left:5px;
  padding-right:5px;
  
  }
a.extern:link {
  color:rgba(255,255,255,1.00);
    transition: 1s;
  }
  
a.extern:visited {
  color:rgba(255,255,255,1.00);
    transition: 1s;
  }
  
a.extern:active {
  color:rgba(255,255,255,1.00);
    transition: 1s;
  }
  
a.extern:hover {
  color:rgba(252,175,255,1.00);
  font-size: 101.5%;
    transition: 1s;
  }

  
.bands  {
  font-size: 3.0rem
  }
  
.bands1  {
  font-size: 1.5rem;
  }
  
.partner {
  text-align:center;
  font-size: 3.0rem
  }

.partner1 {
  text-align:center;
  font-size: 1.5rem
  }
.contact {
  text-align:right;
  font-size: 3.0rem
  }

.contact1 {
  text-align:right;
  font-size: 1.5rem
  }


.imprint {
  padding: 50px 0;
}


/* CSS Document */

