@charset "utf-8";



  
body { 
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  background-image: url(../img/loewe6.jpg) ;  
  background-size: cover;
  background-position: center;
  width: 100%;
  }

p {
  text-align: justify;
  color: rgba(255,255,255,1.00);
  font-weight: lighter;
  font-size: 120%;
  text-shadow: 0px 0px 1px rgba(0,0,0,1.00);  
  letter-spacing:0.1rem;
  }

h2 {
  color: rgba(255,255,255,1.00);
  text-shadow: 0px 0px 3px rgba(54,0,33,1.00);

  }
  
h3 {
  color: rgba(255,255,255,1.00);
  text-shadow: 0px 0px 3px rgba(54,0,33,1.00);
  font-size:200%;
  letter-spacing:0.1rem;
  }
  
h4 {
  color: rgba(255,255,255,1.00);
  text-shadow: 0px 0px 3px rgba(54,0,33,1.00);
  font-size:120%;
  letter-spacing:0.2rem;
  }

      
.start {
  width:100%;
    height:100%;
    background-color: rgba(6, 3, 3, 0.79);
  margin-bottom:30px;

  }




.start1 {
  width:100%;
    height:100%;
    background-color: rgba(6, 3, 3, 0.79);
  margin-top:100px;
  margin-bottom:30px;
  padding-top:15px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color:rgba(55,0,79,1.00);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:rgba(82,33,87,1.00);
  }
  
.start2 {
  width:100%;
    height:100%;
    background-color: rgba(6, 3, 3, 0.79);
  margin-top:30px;
  margin-bottom:30px;
  padding-top:15px;
  padding-left:10px;
  padding-bottom:1px;
  border-radius: 5px;
  text-align:left;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color:rgba(55,0,79,1.00);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:rgba(82,33,87,1.00);
  }
  
.start2 h2 {
  text-align: left;
  }

  
  



/* ANIMATION BACKGROUND PICTURE*/

.picture {

    color: rgba(20,0,106,0.31);

    -webkit-animation: bgColor 3000s;

    /* Chrome, Safari */

    -moz-animation: bgColor 3000s;

    /* Firefox */

    -o-animation: bgColor 3000s;

    /* Opera */

    animation: bgColor 3000s;

}

@-webkit-keyframes bgColor {
    from {
        background:rgba(20,0,106,0.31);
    }
    to {
        background:rgba(255,0,158,0.10);
    }
}

/* Firefox */

@-moz-keyframes bgColor {
    from {
        background:rgba(20,0,106,0.31);
    }
    to {
        background:rgba(255,0,158,0.10);
    }
}

/* Opera */

@-o-keyframes bgColor {
    from {
        background: rgba(20,0,106,0.31);
    }
    to {
        background:rgba(255,0,158,0.10);
    }
}

/* Standard syntax */

@keyframes bgColor {
    from {
        background:rgba(20,0,106,0.31);
    }
    to {
        background: rgba(255,0,158,0.10);
    }
}




/**
Header Bereich
*/


.header-navbar { 
    position: right;
    text-align: right;
  margin-top:50px;
  margin-bottom:30px;
  margin-right: 20%;
  color: rgba(255,255,255,1.00);
  text-shadow: 0px 0px 1px rgba(255,255,255,1.00);
  text-shadow: 0px 0px 2px rgba(54,0,33,1.00);
  }
  
.header-navbar-links li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  margin-left: 40px;
  font-size:150%; 
  margin-bottom:-10%;
  }
  
.Titel {
  padding-top: 50px;
  text-align: left;
  }
  
.Titel h1 {
  color:rgba(255,255,255,1.00);
  font-size: 500%;
  text-shadow: 0px 0px 1px rgba(255,255,255,1.00);
  text-shadow: 0px 0px 3px rgba(54,0,33,1.00);
  }
  
.header {
  margin-bottom: 50px;
  }
  
.subtitel {
  text-align: right;
  color: rgba(255,0,158,1.00);
  font-size: 150%;
  margin-top: -3%;  
  text-shadow: 0px 0px 1px rgba(54,0,33,1.00);
  }

.subtitel h5 {
  letter-spacing: 0.5rem;
    word-spacing: 0.0rem;
  }
  

/**About*/
.about {
  margin-top: -90px;
  margin-bottom: 50px;
  }
.Annika {
  width: 450px;
  height: auto;
  }
    
  
  /*GALERIE */

.sliderElements,
.sliderElements figure,
.sliderControls {
    margin: 0;
}
 
.sliderElements:after {
    content: ".";
    display: block;
    height: .1px;
    clear: both;
    visibility: hidden;
    font-size: 0;
    overflow: hidden;
}
 
.cssSlider {
    overflow-x: hidden;
}
 
.sliderElements {
    list-style: none;
    position: relative;
    left: 0;
    width: 800%;
    margin-bottom: .8em;
    padding: 0;
    -webkit-transition: left .8s ease-in-out;
    -moz-transition: left .8s ease-in-out;
    -o-transition: left .8s ease-in-out;
    transition: left .8s ease-in-out;

}
 
.sliderElements > li {
    float: left;
    width: 12.5%;
    position: relative;
}
 
#slide02:checked ~ .sliderElements {
    left: -100%;
}
 
#slide03:checked ~ .sliderElements {
    left: -200%;
}
 
#slide04:checked ~ .sliderElements {
    left: -300%;
}
 
#slide05:checked ~ .sliderElements {
    left: -400%;
}

#slide06:checked ~ .sliderElements {
    left: -500%;
}

#slide07:checked ~ .sliderElements {
    left: -600%;
}

#slide08:checked ~ .sliderElements {
    left: -700%;
}

/* Bildunterschrift auf dem Bild positionieren */
.sliderElements figcaption {
    display: block;
    color: #fff;
    position: absolute;
    left: 10px;
    bottom: 1em;
    padding: .4em;
    background: rgba(0,0,0,0.00);
  border-radius:2px;
}
 
/* Bilder responsive */
.sliderElements img {
    width: 100%;
    height: auto;
  opacity:0.98;
  border-radius:10px;
}
 
 
/* inputs aus dem Blickfeld schieben */
.cssSlider input {
    position: absolute;
    left: -99999px;
}
 
/* mittige Ausrichtung der Controls - funktioniert im Zusammenspiel mit inline-block */
.sliderControls {
    text-align: center;
}
 
/* Controls nebeneinander bringen */
.sliderControls li {
    display: inline-block;
}
 
/* Controls auf einheitliche Maße bringen und die Ecken abrunden */
.sliderControls label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    background: rgba(55,0,79,0.70);
    color: rgba(55,0,79,0.00);
  
}
 
/* Attributselektor und indirekter Nachfahrkombinator zum ansteuern der labels */
.sliderControls label:hover,
#slide01:checked ~ .sliderControls label[for="slide01"],
#slide02:checked ~ .sliderControls label[for="slide02"],
#slide03:checked ~ .sliderControls label[for="slide03"],
#slide04:checked ~ .sliderControls label[for="slide04"],
#slide05:checked ~ .sliderControls label[for="slide05"],
#slide06:checked ~ .sliderControls label[for="slide06"],
#slide07:checked ~ .sliderControls label[for="slide07"]
#slide08:checked ~ .sliderControls label[for="slide08"]
 {
    background:rgba(255,0,158,0.70);
    color:rgba(255,0,158,0.00);
}





/** Veranstaltungsbereich */


.videos {
  text-align:right;
  }

iframe {
  border-radius:10px;
  }
.video3 {
  }

.video4 {
  float:right;
  }
  
  
img { 
  width: auto; 
  height: 606px;
  border-radius:10px;
  }

.concerts {
  margin-bottom:10%;
  }
  
.concerts h2 {
  color:rgba(255,255,255,1.00);
  text-shadow: 0px 0px 3px rgba(54,0,33,1.00);
  font-size:400%;
  }
  
/* PAST DATES BOXEN */
.toggleBox {
    position: relative;
    border: 0px solid rgba(6, 3, 3, 0.79);
  padding-bottom: 3px;
}
 
/* Ausblenden des input-Feldes */
.toggleBox input {
    position: absolute;
    left: -99999px;
}
 
/* Gestaltung der labels */
.toggleBox label {
    display: block;
    background: rgba(6, 3, 3, 0.79);
    color: #fff;
    padding-top: 13px;
  padding-bottom: 1px;
  padding-left:10px;
    text-align: left;
    cursor: pointer;
  border-radius:5px;
  transition: 2s;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color:rgba(246,160,255,1.00);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:rgba(110,0,159,1.00);
}
 
.toggleBox label:hover {
    background: rgba(252,175,255,0.60);
}
 
/* Der Aufklappmechanismus */
.toggleBox input:checked ~ div  {
    opacity: 0;
    height: 0;
  overflow: hidden;
}
 
.toggleBox input:not(:checked) ~ div {
    opacity: 1;
    padding: .8em;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
  transition: 2s;
}

 
/* Steuerung der Sichtbarkeit der labels */
.toggleBox input:not(:checked) ~ .close {
  display: none;
  transition: 2s;
  }
.toggleBox input:checked ~ .open {
    display: none;
  transition: 2s;
}



/**
LINKS & KONTAKT
*/
i {
  color:white;
  font-size:150%;
  float:right;
  padding-bottom:0px;
  margin-left:10px;
  
  }
  
i:link {
  color:rgba(255,255,255,1.00);
    transition: 1s;
  }
  
i:visited {
  color:rgba(255,255,255,1.00);
    transition: 1s;
  }
  
i:active {
  color:rgba(255,255,255,1.00);
    transition: 1s;
  }
  
i:hover {
  color:rgba(252,175,255,1.00);
  font-size: 152%;
    transition: 1s;
  }
  
a.extern { 
  text-decoration: none;
  text-underline: none;
  background-color:rgba(0,0,0,0.60);
    border-radius:2px;
  padding-left:5px;
  padding-right:5px;
  
  }
a.extern:link {
  color:rgba(255,255,255,1.00);
    transition: 1s;
  }
  
a.extern:visited {
  color:rgba(255,255,255,1.00);
    transition: 1s;
  }
  
a.extern:active {
  color:rgba(255,255,255,1.00);
    transition: 1s;
  }
  
a.extern:hover {
  color:rgba(252,175,255,1.00);
  font-size: 101.5%;
    transition: 1s;
  }

  
.bands  {
  font-size: 3.0rem
  }
  
.bands1  {
  font-size: 1.5rem;
  }
  
.partner {
  text-align:center;
  font-size: 3.0rem
  }

.partner1 {
  text-align:center;
  font-size: 1.5rem
  }
.contact {
  text-align:right;
  font-size: 3.0rem
  }

.contact1 {
  text-align:right;
  font-size: 1.5rem
  }


  
.service {
  padding-top: 100px;
  padding-bottom: 75px;
  }
  
.service h1 {
  color: black;
  text-shadow: 0px 0px 2px rgba(77,52,0,1.00);
  }
  
.service-title{
  font-weight: lighter; 
  }
  
.service-icon {
    color: rgba(104,104,104,1.00);
    font-size: 1500%;
    text-align: center;
    margin-top: 20%;  
  }

.service-grey {
  background-color:rgba(236,232,232,1.00);
  }

.service-hellgrey {
  background-color: rgba(248,248,248,1.00);
  }


/* CSS Document */

